In [1]:
import pandas as pd

pd.Series([100,500,150])

0    100
1    500
2    150
dtype: int64

In [2]:
pd.Series([100,500,150], index=['kakao','samsung','hyundai'])

kakao      100
samsung    500
hyundai    150
dtype: int64

In [3]:
series_ex1 = pd.Series([100,500,150], index=['kakao','samsung','hyundai'])
print(series_ex1['kakao'])
print(series_ex1['hyundai'])

100
150

In [4]:
print(series_ex1[1])

500

In [6]:
pd.DataFrame({'가격':[100,500,150], 'PER':[0.5,1.2,0.2], 'ROA':[1.01,3.1,0.97]}, index=['카카오','삼전','현대차'])

      가격  PER   ROA
카카오  100  0.5  1.01
삼전   500  1.2  3.10
현대차  150  0.2  0.97

In [8]:
df_ex1 = pd.DataFrame({'가격':[100,500,150], 'PER':[0.5,1.2,0.2], 'ROA':[1.01,3.1,0.97]}, index=['카카오','삼전','현대차'])
df_ex1['가격']['현대차']

150

In [11]:
df_ex1.loc['삼전']

가격     500.0
PER      1.2
ROA      3.1
Name: 삼전, dtype: float64

In [13]:
df_ex1[df_ex1['가격'] >= 150]

      가격  PER   ROA
삼전   500  1.2  3.10
현대차  150  0.2  0.97

In [15]:
df_ex1['가격'].sort_values(ascending=False)

삼전     500
현대차    150
카카오    100
Name: 가격, dtype: int64

In [16]:
df_ex1.sort_values(by='PER')

      가격  PER   ROA
현대차  150  0.2  0.97
카카오  100  0.5  1.01
삼전   500  1.2  3.10

In [18]:
df_ex1['가격'].rank(ascending=False)

카카오    3.0
삼전     1.0
현대차    2.0
Name: 가격, dtype: float64

In [21]:
file_path='/Users/kakao/Desktop/stock_data/magicData.xlsx'
pd.read_excel(file_path, sheet_name='PER', index_col=0)

          PER
회사명
3S     -11.87
AJ네트웍스  25.15
AJ렌터카   24.85
AK홀딩스   11.49
APS홀딩스   0.23
...       ...
흥국에프엔비  23.20
흥국화재     5.93
흥아해운    -4.87
희림      20.66
힘스       6.63

[2005 rows x 1 columns]

In [25]:
df_ex2 = pd.read_excel(file_path, sheet_name='PER', index_col=0)
df_ex3 = df_ex2[df_ex2['PER'] > 0]

In [30]:
df_ex4 = df_ex3.sort_values(by='PER')

In [35]:
df_ex4['Ranking'] = df_ex3['PER'].rank()

In [36]:
print(df_ex4)

              PER  Ranking
회사명
APS홀딩스       0.23      1.0
STX중공업       0.37      2.0
제일파마홀딩스      0.39      3.0
이녹스          0.75      4.0
유비쿼스홀딩스      1.04      5.0
...           ...      ...
신영스팩3호    3369.00   1389.0
SCI평가정보   3662.70   1390.0
제이에스티나    5455.44   1391.0
셀트리온제약   10318.45   1392.0
코미팜      23333.05   1393.0

[1393 rows x 2 columns]

In [37]:
file_path='/Users/kakao/Desktop/stock_data/magicData.xlsx'
roa_data = pd.read_excel(file_path, sheet_name='ROA', index_col=0)
filtered_roa = roa_data.dropna()

In [38]:
filtered_roa.columns=['ROA']

In [39]:
sorted_roa = filtered_roa.sort_values(by='ROA', ascending=False)
sorted_roa['ROA랭킹'] = sorted_roa.rank(ascending=False)

In [40]:
print(sorted_roa)

             ROA   ROA랭킹
회사명
넥스턴        56.25     1.0
삼화네트웍스     50.18     2.0
오가닉티코스메틱   44.06     3.0
티웨이홀딩스     36.19     4.0
마이크로프랜드    34.58     5.0
...          ...     ...
아이진       -46.23  1926.0
유바이오로직스   -48.08  1927.0
이에스에이     -59.07  1928.0
큐렉소       -89.29  1929.0
에스아이티글로벌 -108.24  1930.0

[1930 rows x 2 columns]

In [41]:
total_df = pd.merge(df_ex4, sorted_roa, how='inner',left_index=True, right_index=True)

In [42]:
print(total_df)

          PER  Ranking    ROA   ROA랭킹
회사명
AJ네트웍스  25.15    905.0   3.43   895.0
AJ렌터카   24.85    893.0   3.39   901.5
AK홀딩스   11.49    413.0  11.36   223.0
AP시스템   14.63    582.0  11.92   194.0
AP위성    21.65    818.0  -4.76  1676.0
...       ...      ...    ...     ...
흥구석유    22.15    830.0   2.50  1017.5
흥국       8.61    257.0   7.51   461.0
흥국에프엔비  23.20    855.0  12.91   171.0
흥국화재     5.93     99.5   1.00  1209.5
희림      20.66    787.0   5.62   634.5

[1251 rows x 4 columns]

In [45]:
total_df['종합 랭크'] = (total_df['Ranking'] + total_df['ROA랭킹']).rank()
total_df.sort_values(by='종합 랭크')

              PER  Ranking    ROA   ROA랭킹   종합 랭크
회사명
서한           3.22     22.0  23.65    25.0     1.0
골프존          4.19     38.0  24.77    21.0     2.0
동원개발         4.41     42.0  23.62    26.0     3.0
오가닉티코스메틱     5.11     66.5  44.06     3.0     4.0
모베이스         4.49     45.0  20.03    52.0     5.0
...           ...      ...    ...     ...     ...
SCI평가정보   3662.70   1390.0  -6.80  1734.0  1247.0
덕양산업       424.93   1358.0  -8.46  1773.0  1248.0
디비케이       119.68   1281.0 -14.23  1863.0  1249.0
이루온        197.50   1328.0 -13.28  1847.0  1250.0
감마누        395.36   1355.0 -22.41  1893.0  1251.0

[1251 rows x 5 columns]